.Container{
    margin: auto;
    background-color: #d7bea8;
    position:absolute;
    top:0px;
    right:0px;
    bottom:0px;
    left:0px;
    overflow: auto; 
}

.Content .Row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    justify-content: center;
    min-height: 53.3em;
}
.Content .Col{
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.Content .main {
    border: solid thin black;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2%;
}

.Content .main .question{
    color: #6b0000;
    font-size: 25pt;
}